.ipynb_checkpoints/
__pycache__/
*.py[cod]
.env
.venv/
outputs/*.png
outputs/*.pdf
# outputs/models/     # uncomment if you want to ignore saved models
# data/*.csv          # uncomment if you don't want to commit data
